.about .container {
    display: flex;
    margin-top: 150px;
    gap: 100px;
    margin-left: 350px;
}


.about__div {
    width: 540px;
    height: 340px;
    margin-top: 80px;
}

.about__heding {
    color: #333D4B;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.about__text {
    color: #333D4B;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}