.div__div {
    width: 540px;
    height: 210px;
    padding-top: 88px;
    padding-left: 85px;
}

.iphone__div {
    background-color: #2c343e;
    height: 474px;
    margin-top: 180px;
}

.imges {
    margin-left: 760px;
    margin-top: -290px;
}

h3 {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.iphone__text {
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}